/* Smartphones (600px para baixo) */
@media only screen and (max-width: 450px) {
    * {

        box-sizing: border-box;

    }

    body {

        margin: 0;
        background-color: rgba(246, 202, 199, 1);

    }

    .top-site {

        display: flex;
        width: 100%;
        flex-flow: row wrap;
        background-color: rgba(246, 202, 199, 1);
        height: 7vh;
        justify-content: center;
        align-items: center;

    }

    .discount {

        flex: 33%;
        text-align: center;

    }

    .discount h2 {

        font-size: 14px;
        color: white;

    }

    .header-texts {

        flex: 33%;
        text-align: center;
        margin-bottom: 8px;

    }

    .header-texts a {
        text-decoration: none;
        color: white;
        font-size: 10px;
        padding: 5px;
        margin-left: 6px;
        border-bottom: 1px solid white;

    }

    .header-texts a:hover {

        text-decoration: none;
        color: rgba(167, 185, 153, 1);
        padding: 5px;
        margin-left: 6px;
        border-bottom: 1px solid rgba(167, 185, 153, 1);

    }

    .header-icons {

        flex: 33%;
        text-align: center;

    }

    .button-midias {

        background-color: rgba(246, 202, 199, 1);
        width: 20%;
        margin-left: 7%;
        cursor: pointer;
        border: none;
        padding: 0 0;

    }

    .header-icons img {

        width: 90%;

    }

    .mid-site {

        display: flex;
        position: relative;
        width: 100%;
        flex-flow: row wrap;
        background-color: rgb(255, 255, 255);
        height: 12vh;
        justify-content: center;
        align-items: center;

    }

    .search-left {
        display: flex;
        position: relative;
        width: 30%;
        height: 100%;
        align-items: center;


    }

    .search-left p {
        margin-left: 5%;
        font-size: 10px;

    }



    .logo {

        width: 40%;
        text-align: center;
        height: auto;

    }

    .logo img {

        width: 100%;
        margin-top: 15px;


    }

    .search-right {

        width: 30%;
        height: auto;


    }

    .text-about-store {

        display: flex;
        width: 100%;
        flex-flow: row wrap;
        background-color: rgba(167, 185, 153, 1);
        height: 6vh;
        justify-content: center;
        align-items: center;


    }

    .text-store-left {

        width: 33%;
        height: 6vh;


    }

    .text-store {

        width: 33%;
        height: 6vh;

    }

    .text-store h1 {

        font-size: 30px;
        margin-top: 7%;
        text-align: center;
        color: white;

    }

    .text-store-right {

        width: 33%;
        height: 6vh;


    }


    .icons-filter {

        display: flex;
        width: 100vw;
        height: 6vh;
        margin-bottom: 0%;
        background-color: rgba(246, 202, 199, 1);

    }

    .filter-left {

        display: flex;
        width: 70%;
        height: 6vh;

    }

    .button-search {
        margin-left: 5%;
        margin-top: 3%;
        padding: 0%;
        width: 28vw;
        height: 3vh;
        font-size: 7px;
        border-radius: 0%;
        border: 1px solid black;


    }

    .button-click {

        margin-top: 3%;
        width: 8vw;
        height: 3vh;
        cursor: pointer;
        border: 1px solid black;
        background-color: rgba(167, 185, 153, 1);

    }

    .button-click img {

        width: 3vw;
        text-align: center;
        margin: 0;

    }

    .buttom-clear {

        display: none;
        margin-top: 3%;
        margin-left: 1%;
        height: 3vh;
        border: none;
        background-color: rgba(246, 202, 199, 1);

    }

    .buttom-clear p {

        color: red;
        padding: 0;
        margin: 0;
    }

    .localizar {

        margin-left: 5%;
        font-size: 12px;

    }


    .filter-right {

        width: 30%;
        height: 6vh;
        margin-right: 3%;

    }

    .button-filter {

        padding: 0px 0px;
        margin: 5% 5%;
        text-align: end;
        border: none;
        cursor: pointer;
        background-color: rgba(246, 202, 199, 1);

    }

    .button-filter img {

        width: 30%;

    }

    .first-cards {

        display: flex;
        width: 100%;
        height: 100vh;
        margin-top: 0%;
        flex-flow: row wrap;
        background-color: rgba(246, 202, 199, 1);
        justify-content: center;
        align-items: center;
    }

    .cardContent {

        display: block;
        width: 42vw;
        line-height: 0.1;
        text-align: center;
        margin: 2%;
        margin-bottom: 10%;

    }

    .divisao {

        width: 20px;
        text-align: center;

    }

    .image {

        width: 100%;
        margin-bottom: 6px;
        border: 1px solid white;

    }

    .cardContent h2 {

        text-align: left;
        font-size: 25px;
        color: white;

    }

    .second-text-description {

        text-align: left;
        font-size: 10px;
        opacity: 0.7;
        margin-bottom: 0%;

    }


    .full-price {
        text-align: left;
        color: white;
        font-size: 25px;
        margin-bottom: 10%;

    }

    .parceled-price {

        text-align: left;
        margin-bottom: 10%;
        font-size: 10px;

    }

    .buttom-cards {

        position: relative;
        float: center;
        background-color: rgba(246, 202, 199, 1);
        border: 1px solid white;
        width: 100%;
        margin-top: 0%;
        padding: 1rem 0%;
        cursor: pointer;

    }

    .buttom-cards img {

        position: absolute;
        display: none;
        width: 6%;
        left: 10%;
        top: 20%;

    }

    .buttom-cards span {

        position: absolute;
        color: white;
        font-size: 13px;
        width: 100%;
        right: 0%;
        top: 26%;
        white-space: nowrap;
        text-overflow: ellipsis;

    }

}

/* Dispositivos um pouco maiores, mas ainda pequenos (Pequenos Tablets e Smartphones + largos, 600px para cima) */
@media only screen and (min-width: 450px) and (max-width: 650px) {

    * {

        box-sizing: border-box;

    }

    body {

        margin: 0;
        background-color: rgba(246, 202, 199, 1);

    }

    .top-site {

        display: flex;
        width: 100%;
        flex-flow: row wrap;
        background-color: rgba(246, 202, 199, 1);
        height: 8vh;
        justify-content: center;
        align-items: center;

    }

    .discount {

        flex: 33%;
        text-align: center;

    }

    .discount h2 {

        font-size: 14px;
        color: white;

    }

    .header-texts {

        flex: 33%;
        text-align: center;
        margin-bottom: 8px;

    }

    .header-texts a {
        text-decoration: none;
        color: white;
        font-size: 12px;
        padding: 5px;
        margin-left: 6px;
        border-bottom: 1px solid white;

    }

    .header-texts a:hover {

        text-decoration: none;
        color: rgba(167, 185, 153, 1);
        padding: 5px;
        margin-left: 6px;
        border-bottom: 1px solid rgba(167, 185, 153, 1);

    }

    .header-icons {

        flex: 33%;
        text-align: center;

    }

    .button-midias {

        background-color: rgba(246, 202, 199, 1);
        width: 20%;
        margin-left: 7%;
        cursor: pointer;
        border: none;
        padding: 0 0;

    }

    .header-icons img {

        width: 70%;

    }

    .mid-site {

        display: flex;
        width: 100%;
        flex-flow: row wrap;
        background-color: rgb(255, 255, 255);
        height: 12vh;
        justify-content: center;
        align-items: center;

    }

    .logo {

        width: 33%;
        text-align: center;
        height: auto;

    }

    .logo img {
        width: 88%;
        margin-top: 5%;

    }

    .search-right {

        width: 33%;
        height: auto;

    }

    .search-left {

        width: 33%;
        height: auto;

    }

    .text-about-store {

        display: flex;
        width: 100%;
        flex-flow: row wrap;
        background-color: rgba(167, 185, 153, 1);
        height: 6vh;
        justify-content: center;
        align-items: center;

    }

    .text-store-left {

        width: 33%;
        height: 10vh;

    }

    .text-store {

        width: 33%;
        height: 10vh;

    }

    .text-store h1 {

        font-size: 45px;
        text-align: center;
        margin: 2% 0%;
        color: white;

    }

    .text-store-right {

        width: 33%;
        height: 10vh;

    }

    .icons-filter {

        display: flex;
        width: 100vw;
        height: 6vh;
        margin-bottom: 0%;
        background-color: rgba(246, 202, 199, 1);

    }

    .filter-left {

        display: flex;
        width: 70%;
        height: 6vh;

    }

    .button-search {
        margin-left: 5%;
        margin-top: 3%;
        padding: 0%;
        width: 28vw;
        height: 3vh;
        font-size: 7px;
        border-radius: 0%;
        border: 1px solid black;


    }

    .button-click {

        margin-top: 3%;
        width: 8vw;
        height: 3vh;
        cursor: pointer;
        border: 1px solid black;
        background-color: rgba(167, 185, 153, 1);

    }

    .button-click img {

        width: 3vw;
        text-align: center;
        margin: 0;

    }

    .buttom-clear {

        display: none;
        margin-top: 3%;
        margin-left: 1%;
        height: 3vh;
        border: none;
        background-color: white;

    }

    .buttom-clear p {

        color: red;
        padding: 0;
        margin: 0;
    }

    .localizar {

        margin-left: 5%;
        margin-top: 5%;
        font-size: 12px;

    }

    .filter-right {

        width: 30%;
        height: 6vh;
        margin-right: 3%;

    }

    .button-filter {

        padding: 0px 0px;
        margin: 5% 5%;
        text-align: end;
        border: none;
        cursor: pointer;
        background-color: rgba(246, 202, 199, 1);

    }

    .button-filter img {

        width: 30%;

    }

    .first-cards {

        display: flex;
        width: 100%;
        height: 80vh;
        flex-flow: row wrap;
        background-color: rgba(246, 202, 199, 1);
        margin-top: 0%;
        justify-content: center;
        align-items: center;
        border: 1px solid red;


    }

    .cardContent {

        display: inline;
        width: 32vw;
        line-height: 0.01;
        text-align: center;
        margin-top: 0%;
        margin-bottom: 5%;

    }

    .divisao {}

    .image {

        width: 90%;
        border: 1px solid white;

    }

    .cardContent h2 {

        text-align: center;
        font-size: 24px;
        color: white;

    }

    .second-text-description {

        text-align: center;
        font-size: 13px;
        opacity: 0.7;
        margin-bottom: 0%;

    }


    .full-price {
        text-align: center;
        color: white;
        font-size: 26px;
        margin-bottom: 3vh;

    }

    .parceled-price {

        text-align: center;
        margin-bottom: 2vh;
        font-size: 12px;

    }

    .buttom-cards {

        position: relative;
        float: center;
        background-color: rgba(246, 202, 199, 1);
        border: 1px solid white;
        width: 90%;
        margin-top: 4%;
        padding: 1rem 0%;
        cursor: pointer;

    }

    .buttom-cards img {

        position: absolute;
        display: none;
        width: 6%;
        left: 10%;
        top: 20%;

    }

    .buttom-cards span {

        position: absolute;
        color: white;
        font-size: 12px;
        width: 100%;
        right: 0%;
        top: 25%;
        white-space: nowrap;
        text-overflow: ellipsis;

    }
}

@media only screen and (min-width: 650px) and (max-width: 900px) {

    * {

        box-sizing: border-box;

    }

    body {

        margin: 0;
        background-color: rgba(246, 202, 199, 1);

    }


    .top-site {

        display: flex;
        width: 100%;
        flex-flow: row wrap;
        background-color: rgba(246, 202, 199, 1);
        height: 10vh;
        justify-content: center;
        align-items: center;

    }

    .discount {

        flex: 33%;
        text-align: center;

    }

    .discount h2 {

        font-size: 20px;
        color: white;

    }

    .header-texts {

        flex: 33%;
        text-align: center;
        margin-bottom: 8px;

    }

    .header-texts a {
        text-decoration: none;
        color: white;
        font-size: 20px;
        padding: 5px;
        margin-left: 8px;
        border-bottom: 1px solid white;

    }

    .header-texts a:hover {

        text-decoration: none;
        color: rgba(167, 185, 153, 1);
        padding: 5px;
        margin-left: 6px;
        border-bottom: 1px solid rgba(167, 185, 153, 1);

    }

    .header-icons {

        flex: 33%;
        text-align: center;

    }

    .button-midias {

        background-color: rgba(246, 202, 199, 1);
        width: 20%;
        margin-left: 7%;
        cursor: pointer;
        border: none;
        padding: 0 0;

    }

    .header-icons img {

        width: 60%;

    }

    .mid-site {

        display: flex;
        width: 100%;
        flex-flow: row wrap;
        background-color: rgb(255, 255, 255);
        height: 16vh;
        justify-content: center;
        align-items: center;

    }

    .logo {

        width: 33%;
        text-align: center;
        height: auto;

    }

    .logo img {
        width: 86%;
        margin-top: 5%;

    }

    .search-right {

        width: 33%;
        height: auto;

    }

    .search-left {

        width: 33%;
        height: auto;

    }

    .text-about-store {

        display: flex;
        width: 100%;
        flex-flow: row wrap;
        background-color: rgba(167, 185, 153, 1);
        height: 6vh;
        justify-content: center;
        align-items: center;

    }

    .text-store-left {

        width: 33%;
        height: 10vh;

    }

    .text-store {

        width: 33%;
        height: 10vh;

    }

    .text-store h1 {

        font-size: 45px;
        text-align: center;
        margin: 0;
        color: white;

    }

    .text-store-right {

        width: 33%;
        height: 10vh;

    }

    .icons-filter {

        display: flex;
        width: 100vw;
        height: 6vh;
        margin-bottom: 0%;
        background-color: rgba(246, 202, 199, 1);

    }

    .filter-left {

        display: flex;
        width: 70%;
        height: 6vh;

    }

    .button-search {
        margin-left: 9%;
        margin-top: 4%;
        padding: 0%;
        width: 28vw;
        height: 3vh;
        font-size: 7px;
        border-radius: 0%;
        border: 1px solid black;


    }

    .button-click {

        margin-top: 4%;
        width: 8vw;
        height: 3vh;
        cursor: pointer;
        border: 1px solid black;
        background-color: rgba(167, 185, 153, 1);

    }

    .button-click img {

        width: 2.5vw;
        text-align: center;
        margin: 0;

    }

    .buttom-clear {

        display: none;
        margin-top: 4%;
        margin-left: 1%;
        height: 3vh;
        border: none;
        background-color: white;

    }

    .buttom-clear p {

        color: red;
        padding: 0;
        margin: 0;
    }

    .localizar {

        margin-left: 5%;
        margin-top: 5%;
        font-size: 12px;

    }


    .filter-right {

        width: 30%;
        height: 6vh;
        margin-right: 3%;

    }

    .button-filter {

        padding: 0px 0px;
        margin: 5% 5%;
        text-align: end;
        border: none;
        cursor: pointer;
        background-color: rgba(246, 202, 199, 1);

    }

    .button-filter img {

        width: 30%;

    }

    .first-cards {

        display: flex;
        width: 100%;
        height: 100vh;
        flex-flow: row wrap;
        background-color: rgba(246, 202, 199, 1);
        justify-content: center;
        align-items: center;



    }

    .cardContent {

        display: inline;
        width: 30vw;
        line-height: 0.01;
        text-align: center;
        margin-top: 2%;
        margin-bottom: 5%;
    }

    .divisao {}

    .image {

        border: 1px solid white;
        width: 90%;

    }

    .cardContent h2 {

        text-align: center;
        font-size: 30px;
        color: white;

    }

    .second-text-description {

        text-align: center;
        font-size: 14px;
        opacity: 0.7;
        margin-bottom: 0%;

    }


    .full-price {
        text-align: center;
        color: white;
        font-size: 30px;
        margin-bottom: 3vh;

    }

    .parceled-price {

        text-align: center;
        margin-bottom: 2vh;
        font-size: 14px;

    }

    .buttom-cards {

        position: relative;
        float: center;
        background-color: rgba(246, 202, 199, 1);
        border: 1px solid white;
        width: 90%;
        margin-top: 4%;
        padding: 1rem 0%;
        cursor: pointer;

    }

    .buttom-cards img {

        position: absolute;
        display: none;
        width: 6%;
        left: 10%;
        top: 20%;

    }

    .buttom-cards span {

        position: absolute;
        color: white;
        font-size: 16px;
        width: 100%;
        right: 0%;
        top: 24%;
        white-space: nowrap;
        text-overflow: ellipsis;

    }

}

@media only screen and (min-width: 901px) and (max-width: 1250px) {

    * {

        box-sizing: border-box;

    }

    body {

        margin: 0;
        background-color: rgba(246, 202, 199, 1);

    }


    .top-site {

        display: flex;
        width: 100%;
        flex-flow: row wrap;
        background-color: rgba(246, 202, 199, 1);
        height: 10vh;
        justify-content: center;
        align-items: center;

    }

    .discount {

        flex: 33%;
        text-align: center;

    }

    .discount h2 {

        font-size: 20px;
        color: white;

    }

    .header-texts {

        flex: 33%;
        text-align: center;
        margin-bottom: 8px;

    }

    .header-texts a {
        text-decoration: none;
        color: white;
        font-size: 20px;
        padding: 5px;
        margin-left: 8px;
        border-bottom: 1px solid white;

    }

    .header-texts a:hover {

        text-decoration: none;
        color: rgba(167, 185, 153, 1);
        padding: 5px;
        margin-left: 6px;
        border-bottom: 1px solid rgba(167, 185, 153, 1);

    }

    .header-icons {

        flex: 33%;
        text-align: center;

    }

    .button-midias {

        background-color: rgba(246, 202, 199, 1);
        width: 20%;
        margin-left: 7%;
        cursor: pointer;
        border: none;
        padding: 0 0;

    }

    .header-icons img {

        width: 60%;

    }

    .mid-site {

        display: flex;
        width: 100%;
        flex-flow: row wrap;
        background-color: rgb(255, 255, 255);
        height: 16vh;
        justify-content: center;
        align-items: center;

    }

    .logo {

        width: 60%;
        text-align: center;
        height: auto;

    }

    .logo img {
        width: 35%;
        margin-top: 0%;
        max-width: 40%;

    }

    .search-right {

        width: 20%;
        height: auto;

    }

    .search-left {

        width: 20%;
        height: auto;

    }

    .text-about-store {

        display: flex;
        width: 100%;
        flex-flow: row wrap;
        background-color: rgba(167, 185, 153, 1);
        height: 6vh;
        justify-content: center;
        align-items: center;

    }

    .text-store-left {

        width: 33%;
        height: 10vh;

    }

    .text-store {

        width: 33%;
        height: 10vh;

    }

    .text-store h1 {

        font-size: 45px;
        text-align: center;
        margin: 0% 0%;
        color: white;

    }

    .text-store-right {

        width: 33%;
        height: 10vh;

    }

    .icons-filter {

        display: flex;
        width: 100vw;
        height: 6vh;
        margin-bottom: 0%;
        background-color: rgba(246, 202, 199, 1);

    }

    .filter-left {

        display: flex;
        width: 70%;
        height: 6vh;

    }

    .button-search {
        margin-left: 10%;
        margin-top: 3%;
        padding: 0%;
        width: 28vw;
        height: 3vh;
        font-size: 15px;
        border-radius: 0%;
        border: 1px solid black;


    }

    .button-click {

        margin-top: 3%;
        width: 8vw;
        height: 3vh;
        cursor: pointer;
        border: 1px solid black;
        background-color: rgba(167, 185, 153, 1);

    }

    .button-click img {

        width: 2vw;
        text-align: center;
        margin: 0;

    }

    .buttom-clear {

        display: none;
        margin-top: 3%;
        margin-left: 1%;
        height: 3vh;
        border: none;
        background-color: white;

    }

    .buttom-clear p {

        color: red;
        padding: 0;
        margin: 0;
    }

    .localizar {

        margin-left: 5%;
        margin-top: 4%;
        font-size: 12px;

    }


    .filter-right {

        width: 30%;
        height: 6vh;
        margin-right: 3%;

    }

    .button-filter {

        padding: 0px 0px;
        margin: 5% 10%;
        text-align: end;
        border: none;
        cursor: pointer;
        background-color: rgba(246, 202, 199, 1);

    }

    .button-filter img {

        width: 30%;

    }

    .first-cards {

        display: flex;
        width: 100%;
        height: 100vh;
        flex-flow: row wrap;
        background-color: rgba(246, 202, 199, 1);
        margin-top: 0%;
        justify-content: center;
        align-items: center;


    }

    .cardContent {

        display: inline;
        width: 22vw;
        line-height: 0.01;
        text-align: center;
        margin-top: 3%;
        margin-bottom: 5%;
    }

    .divisao {}

    .image {

        width: 90%;
        border: 1px solid white;

    }

    .cardContent h2 {

        text-align: center;
        font-size: 30px;
        color: white;

    }

    .second-text-description {

        text-align: center;
        font-size: 14px;
        opacity: 0.7;
        margin-bottom: 0%;

    }


    .full-price {
        text-align: center;
        color: white;
        font-size: 30px;
        margin-bottom: 3vh;

    }

    .parceled-price {

        text-align: center;
        margin-bottom: 2vh;
        font-size: 13px;

    }

    .buttom-cards {

        position: relative;
        float: center;
        background-color: rgba(246, 202, 199, 1);
        border: 1px solid white;
        width: 90%;
        margin-top: 4%;
        padding: 1rem 0%;
        cursor: pointer;

    }

    .buttom-cards img {

        position: absolute;
        display: none;
        width: 6%;
        left: 10%;
        top: 20%;

    }

    .buttom-cards span {

        position: absolute;
        color: white;
        font-size: 16px;
        width: 100%;
        right: 0%;
        top: 20%;
        white-space: nowrap;
        text-overflow: ellipsis;

    }

}

@media only screen and (min-width: 1251px) {

    * {

        box-sizing: border-box;

    }

    body {

        margin: 0;
        background-color: rgba(246, 202, 199, 1);

    }


    .top-site {

        display: flex;
        width: 100%;
        flex-flow: row wrap;
        background-color: rgba(246, 202, 199, 1);
        height: 10vh;
        justify-content: center;
        align-items: center;

    }

    .discount {

        flex: 33%;
        text-align: center;

    }

    .discount h2 {

        font-size: 20px;
        color: white;

    }

    .header-texts {

        flex: 33%;
        text-align: center;
        margin-bottom: 8px;

    }

    .header-texts a {
        text-decoration: none;
        color: white;
        font-size: 20px;
        padding: 5px;
        margin-left: 8px;
        border-bottom: 1px solid white;

    }

    .header-texts a:hover {

        text-decoration: none;
        color: rgba(167, 185, 153, 1);
        padding: 5px;
        margin-left: 6px;
        border-bottom: 1px solid rgba(167, 185, 153, 1);

    }

    .header-icons {

        flex: 33%;
        text-align: center;

    }

    .button-midias {

        background-color: rgba(246, 202, 199, 1);
        width: 20%;
        margin-left: 7%;
        cursor: pointer;
        border: none;
        padding: 0 0;

    }

    .header-icons img {

        width: 40%;

    }

    .mid-site {

        display: flex;
        width: 100%;
        flex-flow: row wrap;
        background-color: rgb(255, 255, 255);
        height: 16vh;
        justify-content: center;
        align-items: center;

    }

    .logo {

        width: 60%;
        text-align: center;
        height: auto;

    }

    .logo img {
        width: 28%;
        margin-top: 2%;
        max-width: 62%;

    }

    .search-right {

        width: 20%;
        height: auto;

    }

    .search-left {

        width: 20%;
        height: auto;

    }

    .text-about-store {

        display: flex;
        width: 100%;
        flex-flow: row wrap;
        background-color: rgba(167, 185, 153, 1);
        height: 8vh;
        justify-content: center;
        align-items: center;

    }

    .text-store-left {

        width: 33%;
        height: 10vh;

    }

    .text-store {

        width: 33%;
        height: 10vh;

    }

    .text-store h1 {

        font-size: 65px;
        text-align: center;
        margin: 0% 0%;
        color: white;

    }

    .text-store-right {

        width: 33%;
        height: 10vh;

    }

    .icons-filter {

        display: flex;
        width: 100vw;
        height: 8vh;
        margin-bottom: 0%;
        background-color: rgba(246, 202, 199, 1);

    }

    .filter-left {

        display: flex;
        width: 70%;
        height: 6vh;

    }

    .button-search {
        margin-left: 8.5%;
        margin-top: 3%;
        padding: 0%;
        width: 28vw;
        height: 3.8vh;
        font-size: 15px;
        border-radius: 0%;
        border: 1px solid black;


    }

    .button-click {

        margin-top: 3%;
        width: 8vw;
        height: 3.8vh;
        cursor: pointer;
        border: 1px solid black;
        background-color: rgba(167, 185, 153, 1);

    }

    .button-click img {

        width: 2vw;
        text-align: center;
        margin: 0;

    }

    .buttom-clear {

        display: none;
        margin-top: 3%;
        margin-left: 1%;
        height: 3vh;
        border: none;
        background-color: white;

    }

    .buttom-clear p {

        color: red;
        padding: 0;
        margin: 0;
    }

    .localizar {

        margin-left: 2%;
        margin-top: 3.5%;
        font-size: 20px;

    }


    .filter-right {

        width: 30%;
        height: 6vh;
        margin-right: 3%;

    }

    .button-filter {

        padding: 0px 0px;
        margin: 5% 10%;
        text-align: end;
        border: none;
        cursor: pointer;
        background-color: rgba(246, 202, 199, 1);

    }

    .button-filter img {

        width: 20%;

    }

    .first-cards {

        display: flex;
        width: 100%;
        height: 100vh;
        flex-flow: row wrap;
        background-color: rgba(246, 202, 199, 1);
        margin-top: 0%;
        justify-content: center;
        align-items: center;

    }

    .cardContent {

        display: inline;
        width: 18vw;
        line-height: 0.01;
        text-align: center;
        margin-top: 3%;
        margin-bottom: 5%;

    }

    .divisao {}

    .image {

        width: 90%;
        border: 1px solid white;

    }

    .cardContent h2 {

        text-align: center;
        font-size: 30px;
        color: white;

    }

    .second-text-description {

        text-align: center;
        font-size: 16px;
        opacity: 0.7;
        margin-bottom: 0%;

    }


    .full-price {
        text-align: center;
        color: white;
        font-size: 30px;
        margin-bottom: 3vh;

    }

    .parceled-price {

        text-align: center;
        margin-bottom: 2vh;
        font-size: 18px;

    }

    .buttom-cards {

        position: relative;
        float: center;
        background-color: rgba(246, 202, 199, 1);
        border: 1px solid white;
        width: 90%;
        margin-top: 4%;
        padding: 1rem 0%;
        cursor: pointer;

    }

    .buttom-cards img {

        position: absolute;
        display: none;
        width: 6%;
        left: 10%;
        top: 20%;

    }

    .buttom-cards span {

        position: absolute;
        color: white;
        font-size: 18px;
        width: 100%;
        right: 0%;
        top: 17%;
        white-space: nowrap;
        text-overflow: ellipsis;

    }

}